<div class="home">
    <div class="background-page">
        <!-- <img src="./assets/background.png" alt="background"> -->
    </div>
    <div class="caption">
        <div class="title">
            <span>Selamat Datang!</span>
        </div>
        <div class="sub-title">
            <span>Website Rekomendasi Produk Simpanan Individu</span>
        </div>
    </div>
    <div class="start-button">
        <button class="button" (click) ="loadingForm()">
            <span>Mulai Rekomendasi</span>
        </button>
    </div>
</div>