.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    &-field {
      border: 3px solid #182D88;
      border-radius: 38px;
      width: 713px;
      height: 162px;
      display: grid;
      justify-content: center;
      align-content: center;
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;

      span{
        color: #182D88;
        font-size: 21px;
    }

      span.product{
          font-size: 27px;
          font-weight: 600;
          margin-left: 5px;
      }
    }

    &-subtitle {
      margin-top: 8px;
      text-align: center;
      font-size: 17px;
      font-family: Poppins;
      color: #95959B;
    }

    &-button-field-wrapper {
      display: flex;
      align-items: center;
    }
}

.title-field{
    margin-bottom: 40px;

}

.title-field > span{
    font-weight: 600;
    font-size: 27px;
    color: #182D88;
}

a{
    text-decoration: none;
}

.button {
  &-left {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;

    &[disabled=true]{
      background-image: url('../../../../public/assets/left-disabled.png');
    }

    &[disabled=false]{
      background-image: url('../../../../public/assets/left.png');
    }
  }

  &-right {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;


    &[disabled=true]{
      background-image: url('../../../../public/assets/right-disabled.png');
    }

    &[disabled=false]{
      background-image: url('../../../../public/assets/right.png');
    }
  }

  &-back {
    background-color: #0065AD;
    color: #FFFFFF;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    padding: 20px 40px;
    margin-top: 40px;
  }
}
