<div class="all-field-wrapper">
  <div class="field-wrapper">
    <div class="field-label">
      <span>Nama</span>
    </div>
    <input class="input-field-wrapper" type="text" style="width: 400px;" required>
  </div>

  <div class="field-wrapper" [attr.notFirst]="true">
    <div class="field-label">
      <span>Umur</span>
    </div>
    <div class="age-field-wrapper">
      <input class="input-field-wrapper" type="number" style="width: 230px;" min="1" max="100" required>
      <span>Tahun</span>
    </div>
  </div>

  <div class="field-wrapper" [attr.notFirst]="true">
    <div class="field-label">
      <span>Gender</span>
    </div>
    <app-dropdown #genderDropdown [dropdownContent]="genderContent"></app-dropdown>
  </div>
</div>

<div class="all-field-wrapper" [attr.notFirst]="true">
  <div class="field-wrapper">
    <div class="field-label">
      <span>Domisili</span>
    </div>
    <app-dropdown #domicileDropdown [dropdownContent]="domicileContent" [width]="'480px'"></app-dropdown>
  </div>

  <div class="field-wrapper" [attr.notFirst]="true">
    <div class="field-label">
      <span>Kegiatan atau Pekerjaan</span>
    </div>
    <app-dropdown #jobDropdown [dropdownContent]="jobContent" [width]="'480px'"></app-dropdown>
  </div>
</div>

<div class="all-field-wrapper" [attr.notFirst]="true">
  <div class="field-wrapper">
    <div class="field-label">
      <span>Status Perkawinan</span>
    </div>
    <app-dropdown #maritalDropdown [dropdownContent]="maritalContent" [width]="'480px'"></app-dropdown>
  </div>

  <div class="field-wrapper" [attr.notFirst]="true">
    <div class="field-label">
      <span>Jumlah Tanggungan</span>
    </div>
    <app-dropdown #familyDropdown [dropdownContent]="familyContent" [width]="'480px'"></app-dropdown>
  </div>
</div>
