<div class="stepper-wrapper">
  <app-stepper [stepOneDone]="doneStepOne" [stepTwoDone]="doneStepTwo"></app-stepper>
</div>

<div class="form-wrapper">
  <app-private-data
    #private
    *ngIf="componentDisplayed === 'PRIVATE_DATA'">
  </app-private-data>

  <app-personal-char
    #personal
    *ngIf="componentDisplayed === 'PERSONAL_CHAR'">
  </app-personal-char>

  <app-confirmation
    *ngIf="componentDisplayed === 'CONFIRMATION'"
    (onSubmit)="onClickSubmit()">

  </app-confirmation>

</div>

<div class="step-btn-wrapper">
  <app-step-button
    [isBeforeAvailable]="componentDisplayed != 'PRIVATE_DATA'"
    [isNextAvailable]="componentDisplayed != 'CONFIRMATION'"
    (previous)="onClickPrevious()"
    (next)="onClickNext()">
  </app-step-button>
</div>

