<div class="base-container">

  <div class="base-container-page">
    <!-- Home Page -->
    <app-home *ngIf="componentDisplayed === 'HOME'"
      (onNextPage)="changeComponentDisplayed('FORM')">
    </app-home>

    <!-- Form Page -->
    <app-form *ngIf="componentDisplayed === 'FORM'"
      (onNextPage)="changeComponentDisplayed('RESULT')">
    </app-form>

    <!-- Result Page -->
    <app-result *ngIf="componentDisplayed === 'RESULT'"
      (onNextPage)="changeComponentDisplayed('HOME')">
    </app-result>
  </div>
</div>
